.address-wrapper {
  @include reset-style;
  font-style: normal;
  display: flex;
  justify-content: space-between;
}

.address-wrapper__address {
  @include reset-style;
}

.address-wrapper__name {
  margin-right: 32px;
}
