.best-product {
  margin-bottom: 35px;
  color: $font-base-color;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 75px;
    padding-left: 175px;
    padding-right: 50px;
  }
}

.best-product__container {
  @include centering;
  @include mobile-paddings;
  width: $mobile-block;

  @media (min-width: $tablet-width) {
    @include not-mobile-paddings;
    width: $tablet-block;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-block;
    padding-left: 0;
    padding-right: 0;
  }
}

.best-product__info-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 106%;
  }
}

.best-product__sign {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $green;

  @media (min-width: $tablet-width) {
    width: 100px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-right: 45px;
  }
}

.best-product__description {
  @include reset-style;

  width: 255px;
  margin-top: 18px;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 48px;
    width: 295px;
    height: fit-content;
  }
}

.best-product__image {
  width: 100%;
  margin-bottom: 25px;
  display: inline-block;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 334px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    height: 636px;
    margin-top: -150px;
    margin-left: 20px;
  }
}

.best-product__booking {
  font-weight: bold;
  font-size: 17px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: -105px;
    width: 295px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -110px;
  }
}

.best-product__price {
  display: block;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.best-product__title {
  @include index-title;
}

.best-product__title-wrapper {
  width: 100%;
  font-size: 17px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
    line-height: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin-left: -150px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
    z-index: 3;
  }
}
