.best-product {
  margin-bottom: 71px;
  color: $font-base-color;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 124px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 85px;
    padding-bottom: 75px;
    padding-left: 175px;
    padding-right: 50px;
  }

  &::after {
    @include icon-position;
    bottom: -43px;
    right: -30px;
    width: 320px;
    height: 6px;
    background-size: 100%;
    background-image: url("../img/bg-zigzag-line.svg");

    @media (min-width: $tablet-width) {
      width: 772px;
      height: 17px;
      bottom: -70px;
      right: -52px;
    }

    @media (min-width: $desktop-width) {
      width: 1050px;
      height: 23px;
      right: 0;
      bottom: -18px;
    }
  }
}

.best-product__container {
  @include centering;
  @include mobile-paddings;
  width: $mobile-block;

  @media (min-width: $tablet-width) {
    @include not-mobile-paddings;
    width: $tablet-block;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-block;
    padding-left: 0;
    padding-right: 0;
  }
}

.best-product__info-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 106%;
  }
}

.best-product__sign {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $green;

  @media (min-width: $tablet-width) {
    width: 125px;
    text-align: center;
    padding-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -6px;
    margin-right: 31px;
    padding-bottom: 12px;
  }
}

.best-product__description {
  @include reset-style;
  width: 255px;
  margin-top: 18px;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 38px;
    width: 295px;
    height: fit-content;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 49px;
  }
}

.best-product__image {
  width: 100%;
  margin-bottom: 25px;
  display: inline-block;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 334px;
    margin-top: 12px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
    height: 636px;
    margin-top: -150px;
    margin-left: 20px;
  }
}

.best-product__booking {
  font-weight: bold;
  font-size: 17px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: -108px;
    width: 295px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -110px;
  }
}

.best-product__price {
  display: block;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-right: 7px;
    margin-bottom: 31px;
    font-size: 20px;
    line-height: 24px;
  }
}

.best-product__title {
  @include index-title;
  margin-bottom: 4px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.best-product__title-wrapper {
  width: 100%;
  font-size: 17px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
    line-height: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin-left: -150px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
    z-index: 3;
  }
}
