.contacts {
  line-height: 30px;
  padding-bottom: 39px;
}

.contacts__container {
  @media (min-width: $desktop-width) {
    @include centering;
    width: $desktop-block;
    padding-left: 125px;
    padding-right: 50px;
  }
}

.contacts__info-wrapper {
  @include centering;
  @include mobile-paddings;
  width: $mobile-block;

  @media (min-width: $tablet-width) {
    @include not-mobile-paddings;
    width: $tablet-block;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
  }

  @media (min-width: $desktop-width) {
    @include canceling-centering;
    width: 310px;
    padding-left: 0;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-template-rows: 1fr 1fr;
  }
}

.contacts__info {
  @media (min-width: $desktop-width) {
    width: 1010px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

.contacts__title {
  @include centering;
  @include mobile-paddings;
  width: $mobile-block;
  font-size: 18px;

  @media (min-width: $tablet-width) {
    @include index-title;
    @include not-mobile-paddings;
    width: $tablet-block;
    margin: auto;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 725px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    top: 195px;
  }
}

.contacts__wrapper {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 0;
  }
}

.contacts__map {
  margin-bottom: 42px;
}

.contacts__button-wrapper {
  @include centering;

  width: 320px;
  display: flex;
  justify-content: center;

  @media (min-width: $desktop-width) {
    width: 30%;
    position: relative;
    right: 265px;
    bottom: 107px;
  }
}

.contacts__button {
  @media (min-width: $tablet-width) {
    width: 198px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
  }
}
