.developer-info {
  padding-top: 22px;
  margin-left: 30px;
  margin-right: 30px;
  border-top: 1px $grey solid;
  min-width: 182px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    border-top: 0;
  }
}

.developer-info__text {
  display: block;
}
