.features-table {
  line-height: 20px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    width: 295px;
    height: fit-content;
    font-size: 15px;
    line-height: 20px;
  }
}

.features-table__value {
  border-bottom: $border-base-style;
  padding-left: 4px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}

.features-table__parameter {
  padding-top: 12px;
  padding-bottom: 7px;
  padding-right: 25px;
  font-weight: normal;
  text-align: left;
  border-bottom: $border-base-style;

  @media (min-width: $tablet-width) {
    padding-right: 0;
  }
}
