.feedback-quote,
.feedback-quote__content,
.feedback-quote__author {
  @include reset-style;
}

.feedback-quote__content {
  margin-top: 14px;
  margin-bottom: 33px;
  line-height: 30px;
}

.feedback-quote__author-wrapper {
  font-size: 17px;
  margin-bottom: 30px;
}

.feedback-quote__author {
  font-weight: bold;
}
