.feedback-quote,
.feedback-quote__content,
.feedback-quote__author {
  @include reset-style;
}

.feedback-quote__content {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    width: 670px;
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    width: 875px;
    margin-bottom: 44px;
  }
}

.feedback-quote__author {
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 5px;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.feedback-quote__cite {
  margin-bottom: 30px;
  font-style: normal;
  width: $mobile-block;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.feedback-quote__author-wrapper {
  font-size: 17px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
  }
}

.feedback-quote__buttons-wrapper {
  margin-bottom: 38px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 176px;
  }
}

.feedback-quote__cite-wrapper {
  margin-bottom: 22px;
}

.feedback-quote__button {
  padding-top: 28px;
  padding-bottom: 27px;
  display: inline-block;
  background-color: $white;
  border: $border-base-style;
  flex-grow: 1;
  position: relative;

  @media (min-width: $tablet-width) {
    border: 0;
  }

  &_next {
    border-right: 0;

    &::after {
      @include icon-position;
      top: 18px;
      left: 37px;
      width: 50px;
      height: 26px;
      background-image: url("../img/icon-left-arrow.svg");
    }
  }

  &_back {
    border-right: 0;

    &::after {
      @include icon-position;
      top: 18px;
      left: 37px;
      width: 50px;
      height: 26px;
      background-image: url("../img/icon-right-arrow.svg");
    }
  }
}
