.feedback {
  @include mobile-paddings;
  margin-bottom: 86px;
  position: relative;

  @media (min-width: $tablet-width) {
    @include not-mobile-paddings;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    margin-bottom: 130px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 50px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 45px;
  }

  &::after {
    @include icon-position;
    bottom: -50px;
    right: 0;
    width: 320px;
    height: 6px;
    background-size: 100%;
    background-image: url("../img/bg-zigzag-line.svg");

    @media (min-width: $tablet-width) {
      width: 772px;
      height: 17px;
      bottom: -62px;
    }

    @media (min-width: $desktop-width) {
      width: 1050px;
      height: 23px;
      right: 52px;
      bottom: -90px;
    }
  }
}

.feedback__container {
  @include centering;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
  }
}

.feedback__wrapper {
  display: flex;
  flex-wrap: wrap;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 83px;
    padding-bottom: 47px;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    padding-top: 78px;
    padding-bottom: 73px;
    padding-left: 175px;
    padding-right: 50px;
  }
}

.feedback__write-button {
  width: 100%;

  @media (min-width: $tablet-width) {
    order: 1;
    width: 175px;
    margin-top: -5px;
  }
}

.feedback__title {
  @include index-title;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
    display: inline-block;
    order: -1;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
  }
}

.feedback__quote {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    order: 3;
  }
}
