.feedback {
  margin-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 83px;
    padding-bottom: 47px;
    flex-direction: row;
    font-size: 17px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }
}

.feedback__write-button {
  width: 100%;

  @media (min-width: $tablet-width) {
    order: 0;
    width: 175px;
  }
}

.feedback__title {
  @include index-title;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
    display: inline-block;
    order: -1;
    flex-grow: 1;
  }
}

.feedback__quote {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    order: 3;
  }
}
