.form {
  font-weight: bold;
  margin-bottom: 55px;
  display: grid;
}

.form__fieldset-container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__items-wrapper {
  @media (min-width: $tablet-width) {
    flex-basis: 465px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 700px;
  }

  &_type_checkbox {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 205px 205px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 205px 205px 205px;
    }
  }
}

.form__fieldset {
  @include reset-style;
  border-width: 0;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &_type_radio {
    margin-bottom: 31px;
  }

  &_type_checkbox {
    margin-bottom: 33px;

    @media (min-width: $tablet-width) {
      background-color: $background-special-color;
    }
  }

  &_type_text {
    margin-bottom: $form-special-margin;
  }

  &_type_tel {
    margin-bottom: $form-special-margin;
    position: relative;

    @media (min-width: $tablet-width) {
      padding-bottom: 25px;
      margin-bottom: 0;
      background-color: $background-special-color;
    }
  }

  &_type_email {
    margin-bottom: $form-special-margin;
    position: relative;

    @media (min-width: $tablet-width) {
      padding-top: 0;
      background-color: $background-special-color;
    }
  }

  &_type_textarea {
    margin-bottom: 17px;
  }
}

.form__fieldset > .form__item:last-child {
  margin: 0;
}

.form__item {
  @include reset-style;

  &_type_radio {
    margin-bottom: 12px;

    @media (min-width: $tablet-width) {
      margin-bottom: 24px;
    }
  }

  &_type_checkbox {
    margin-bottom: 23px;
  }

  &_type_text {
    margin-bottom: 22px;

    @media (min-width: $tablet-width) {
      display: flex;
    }
  }

  &_works_interior .form__label {
    width: 200px;
    padding-top: 8px;
    padding-bottom: 2px;

    @media (min-width: $tablet-width) {
      width: auto;
      padding-top: 16px;
    }
  }

  &_works_toy .form__label {
    padding-top: 14px;
    padding-bottom: 16px;
  }
}

.form__legend {
  @include list-state;
  display: inline-block;
  width: fit-content;
  padding-right: 25px;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $green;
  background-color: $white;
  position: relative;
  z-index: auto;

  @media (min-width: $tablet-width) {
    flex-basis: 170px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 112px;
  }

  &::before {
    content: "";
    left: 33px;
    width: 225px;
    height: 1px;
    top: 50%;
    background-color: $green--light;
    position: absolute;
    z-index: -5;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &_type_radio {
    margin-bottom: $form-special-margin;
  }

  &_type_checkbox {
    padding-right: 16px;
    margin-bottom: $form-special-margin;

    @media (min-width: $tablet-width) {
      background-color: $background-special-color;
    }
  }

  &_type_text {
    padding-right: 18px;
    margin-bottom: 29px;

    @media (min-width: $tablet-width) {
      padding-top: 17px;
    }
  }

  &_type_tel {
    padding-right: 29px;
    margin-bottom: 19px;

    @media (min-width: $tablet-width) {
      background-color: $background-special-color;
      padding-top: 17px;
    }
  }

  &_type_email {
    padding-right: 20px;
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      padding-top: 17px;
      background-color: $background-special-color;
    }
  }

  &_type_textarea {
    padding-right: 22px;
    margin-bottom: 23px;
  }
}

.form__label {
  @include reset-style;
  font-size: 17px;
  line-height: 18px;
  position: relative;
  display: block;
  user-select: contain;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }

  &_type_checkbox {
    @include box-label;
  }

  &_type_radio {
    @include box-label;
  }

  &_type_text {
    margin-bottom: 17px;

    @media (min-width: $tablet-width) {
      padding-top: 17px;
      margin-right: 25px;
    }
  }
}

.form__input {
  @include reset-style;
  width: 100%;
  border: none;
  border-bottom: $border-bold-style;
  font-size: 17px;
  font-weight: normal;
  line-height: 19px;
  position: relative;
  z-index: auto;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
  }

  &::placeholder {
    opacity: 0.3;
    color: $black;

    @media (min-width: $tablet-width) {
      font-size: 19px;
      line-height: 18px;
    }
  }

  &_type_text {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  &_type_tel {
    padding-top: 17px;
    padding-bottom: 20px;

    @media (min-width: $tablet-width) {
      background-color: $background-special-color;
    }
  }

  &_type_email {
    padding-top: 17px;
    padding-bottom: 18px;

    @media (min-width: $tablet-width) {
      background-color: $background-special-color;
    }
  }
}

.form__input_type_checkbox + .form__label::before {
  cursor: pointer;
  content: "";
  top: 0;
  left: 0;
  border: $border-bold-style;
  width: 38px;
  height: 38px;
  position: absolute;
}

.form__input_type_checkbox:checked + .form__label::after {
  cursor: pointer;
  content: "";
  top: 12px;
  left: 7px;
  width: 30px;
  height: 25px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  background-size: 90%;
}

.form__input_type_radio + .form__label::before {
  cursor: pointer;
  top: 0;
  left: 0;
  content: "";
  border: $border-bold-style;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  position: absolute;
}

.form__input_type_radio:checked + .form__label::after {
  cursor: pointer;
  content: "";
  top: 14px;
  left: 15px;
  background-color: $green--light;
  width: 17px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
}

.form__textarea {
  width: 85%;
  padding-top: 17px;
  padding-left: 17px;
  padding-right: 17px;
  border: $border-bold-style;
  font-weight: normal;

  &::placeholder {
    opacity: 0.3;
    color: $black;
    width: 167px;

    @media (min-width: $tablet-width) {
      padding-top: 8px;
      font-size: 19px;
      line-height: 18px;
      width: 475px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 95%;
  }
}

.form__sign-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    margin-left: 135px;
  }
}

.form__sign {
  @include reset-style;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $font-base-color;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    order: 2;
    text-align: end;
    flex-basis: 65%;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 54%;
  }
}

.form__button {
  @media (min-width: $tablet-width) {
    flex-basis: 35%;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 23%;
  }
}
