.interactive-list {
  @media (min-width: $tablet-width) {
    text-align: end;
  }
}

.interactive-list__item {
  width: 300px;
  padding-top: 27px;
  padding-bottom: 27px;
  border-bottom: $border-base-style;

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 260px;
    border-left: 1px $grey-darker solid;
  }
}
