.interactive-list {
  @include list-state;

  @media (min-width: $tablet-width) {
    text-align: end;
    display: flex;
    justify-content: flex-end;
  }
}

.interactive-list__item {
  width: 100%;
  padding-top: 29px;
  padding-bottom: 27px;
  padding-left: 76px;
  border-bottom: $border-base-style;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}
