.link-lists {
  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 30px;
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0;
    font-size: 17px;
  }
}

.link-lists__item {
  display: block;
  width: 300px;
  padding-top: 29px;
  padding-bottom: 27px;
  border-bottom: $border-base-style;
  z-index: 5;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding: 0;
    border: none;
    flex-basis: 50%;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 50%;
  }

  &_links_catalog {
    border-top: $border-base-style;
    padding-top: 28px;
    padding-bottom: 26px;

    @media (min-width: $tablet-width) {
      border: none;
      padding-top: 0;
      padding-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      width: 297px;
    }
  }

  &_links_form {
    padding-top: 28px;
    padding-bottom: 26px;

    @media (min-width: $tablet-width) {
      padding-top: 0;
      padding-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      padding-left: 32px;
    }
  }
}
