.main-list {
  @include list-state;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-list__item {
  &_shopping-card_interior {
    background-color: $green--light;
  }

  &_shopping-card_toys {
    background-color: $green--dark;
  }

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}

.main-list__link {
  width: 130px;
  display: block;
  padding-top: 24px;
  padding-bottom: 31px;
  padding-left: 30px;
  font-size: 19px;
  text-decoration: none;
  color: $white;

  @media (min-width: $tablet-width) {
    padding-bottom: 34px;
    padding-left: 36px;
    font-size: 20px;
    line-height: 30px;
  }
}
