.main-advantages {
  margin-bottom: 58px;
}

.main-advantages__list {
  @include list-state;
  margin-top: 28px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}

.main-advantages__item {
  padding-top: 55px;
  position: relative;

  &_logo_flower::before {
    content: "";
    top: 0;
    left: 2%;
    width: 33px;
    height: 38px;
    background-image: url("../../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
  }

  &_logo_banknote::before {
    content: "";
    top: 13%;
    left: 0;
    width: 47px;
    height: 27px;
    background-image: url("../../img/icon-feature-money.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
  }

  &_logo_heart::before {
    content: "";
    top: 13%;
    left: 1%;
    width: 34px;
    height: 27px;
    background-image: url("../../img/icon-feature-heart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
  }

  &_logo_ball::before {
    content: "";
    top: 10%;
    left: 0;
    width: 35px;
    height: 34px;
    background-image: url("../../img/icon-feature-ball.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
  }

  &_logo_rocket::before {
    content: "";
    top: 16%;
    left: -2%;
    width: 55px;
    height: 23px;
    background-image: url("../../img/icon-feature-rocket.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
  }

  &_logo_present::before {
    content: "";
    top: 13%;
    left: 0;
    width: 33px;
    height: 34px;
    background-image: url("../../img/icon-feature-gift.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: $green;
    position: absolute;
  }
}

.main-advantages__title {
  @include index-title;
}
