.main-menu {
  margin-bottom: 30px;
  font-weight: bold;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: 50% -22%;
  background-repeat: no-repeat;
  position: relative;

  @media (min-width: $tablet-width) {
    @include centering;
    @include not-mobile-paddings;
    width: $tablet-block;
    margin-bottom: 51px;
    background-image: url("../img/hero-tablet@1x.jpg");

    &::after {
      @include icon-position;
      bottom: -5px;
      right: 0;
      width: 770px;
      height: 24px;
      background-size: 100%;
      background-image: url("../img/bg-zigzag-fill.svg");

      @media (min-width: $desktop-width) {
        width: 1250px;
        height: 34px;
        bottom: -15px;
        right: 12px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: $desktop-block;
    margin-bottom: 135px;
    background-image: url("../img/hero-desktop@1x.jpg");
  }
}

.main-menu__wrapper {
  border-top: 1px $grey-darker solid;
  background-color: $grey--lightest;
}

.main-menu__description-wrapper {
  padding-top: 71px;
  padding-bottom: 120px;

  @media (min-width: $tablet-width) {
    padding-top: 156px;
    padding-bottom: 372px;
    width: 99%;
  }

  @media (min-width: $desktop-width) {
    padding-top: 98px;
    padding-bottom: 355px;
    padding-left: 4px;
  }
}

.main-menu__description {
  @include reset-style;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    white-space: pre-line;
  }
}

.main-menu__word-style {
  display: inline-block;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}
