.main-video__content {
  @media (min-width: $tablet-width) {
    width: $tablet-block;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    width: 683px;
    height: 455px;
  }
}

.main-video__button {
  display: none;
}
