.main-container {
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: $tablet-width) {
    @include not-mobile-paddings;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
  }
}
