.main-advantages {
  margin-bottom: 58px;
}

.main-advantages__list {
  padding: 0;
  margin: 0;
  margin-top: 28px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}

.main-advantages__item {
  padding-top: 55px;
}
