.main-button {
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  border: $border-bold-style;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $font-base-color;
  background-color: $white;
  cursor: pointer;
}
