.main-form__about {
  @include reset-style;
  margin-top: 17px;
  margin-bottom: 29px;
  width: 100%;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-top: 54px;
    font-size: 17px;
    line-height: 30px;
    width: 85%;
  }

  @media (min-width: $desktop-width) {
    padding-left: 115px;
    margin-top: 100px;
    width: 60%;
  }
}
