.page-main__title {
  @include reset-style;
  padding-top: 74px;
  padding-bottom: 74px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  background-color: $background-special-color;
}
