.page-header {
  font-size: 17px;
  font-weight: bold;
}

.page-header__link {
  padding-left: 67px;
  display: block;
  text-decoration: none;
  color: $black;
  z-index: 5;

  @media (min-width: $tablet-width) {
    line-height: 24px;
    padding-left: 0;
  }
}

.page-header__logo {
  display: flex;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 22px;
  z-index: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    justify-content: start;
  }

  @media (min-width: $desktop-width) {
    @include centering;
    width: 150px;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
  }
}

.page-header__button {
  content: "";
  padding-top: 25px;
  border: none;
  top: 28px;
  right: 31px;
  width: 21px;
  height: 15px;
  background-color: inherit;
  background-image: url("../img/icon-menu-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__wrapper {
  @media (min-width: $tablet-width) {
    @include centering;
    @include not-mobile-paddings;
    width: $tablet-block;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-block;
  }
}
