.page-header {
  font-size: 17px;
  font-weight: bold;
}

.page-header__link {
  text-decoration: none;
  color: $black;
}

.page-header__logo {
  display: flex;
  justify-content: center;
  margin-top: 22px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    justify-content: start;
  }
}

.page-header__button {
  display: none;
}
