.page-container {
  @include centering;
  @include mobile-paddings;
  width: $mobile-block;

  @media (min-width: $tablet-width) {
    @include not-mobile-paddings;
    width: $tablet-block;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-block;
  }
}
