.page-footer {
  padding-top: 25px;
  padding-bottom: 23px;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.page-footer__wrapper {
  background-color: $background-special-color;
}
