.search-field {
  font-size: 17px;
}

.search-field__input,
.search-field__button {
  display: none;
}

.search-field__label {
  display: block;
  width: 50%;
  padding-left: 70px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.search-field__item {
  display: block;

  @include reset-style;
}
