.social-media-list {
  @include list-state;
  margin-bottom: 27px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-media-list__item {
  text-align: center;
  width: auto;
  margin-right: 41px;
}

.social-media-list__item:last-child {
  margin-right: 0;
}
