.social-media-list {
  @include list-state;
  padding-top: 3px;
  padding-bottom: 51px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.social-media-list__item {
  text-align: center;
  width: auto;
  margin-right: 41px;
  position: relative;

  &_link_instagram::after {
    @include icon-position;
    top: 0;
    left: -30px;
    width: 22px;
    height: 21px;
    background-image: url("../img/icon-insta.svg");

    @media (min-width: $tablet-width) {
      top: -25px;
    }
  }

  &_link_facebook::after {
    @include icon-position;
    top: -3px;
    left: -7px;
    width: 15px;
    height: 29px;
    background-image: url("../img/icon-fb.svg");

    @media (min-width: $tablet-width) {
      top: -28px;
    }
  }

  &_link_twitter::after {
    @include icon-position;
    top: 0;
    left: 7px;
    width: 24px;
    height: 20px;
    background-image: url("../img/icon-twitter.svg");

    @media (min-width: $tablet-width) {
      top: -24px;
    }
  }
}

.social-media-list__item:last-child {
  margin-right: 0;
}
