.video {
  padding-bottom: 33px;
  margin-bottom: 58px;
  border: $border-base-style;
}

.video__title,
.video__about {
  @include reset-style;
}

.video__title {
  padding-top: 22px;
  padding-left: 91px;
  margin-bottom: 27px;
  font-size: 17px;
}

.video__about-wrapper {
  margin-left: 34px;
}

.video__about {
  font-size: 13px;
  margin-bottom: 41px;
}
