// Colors start

$black: #000000;

$darkgrey: #444444;
$shadowgrey: #ececec;
$lightgrey: #f1f1f1;

$white: #ffffff;

$highlightgreen: #62d1ba;
$lightgreen: #63d1bb;
$darkgreen: #56c3b2;

// Colors end

// Fonts start

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src:
    url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
}

// Fonts end

// main-button start

.main-button {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 2px $darkgrey solid;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $darkgrey;
  background-color: $white;
  cursor: pointer;
}

// main-button end

// Global start

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
  font-size: 15px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: $white;
  color: $black;

  ul {
    list-style: none;
  }
}

.page-container {
  width: 320px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  padding-left: 30px;
  padding-right: 30px;
}

.page-main__title_h2 {
  margin: 0;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $black;
}

// Global end

// Header start

.page-header {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.page-header__link {
  text-decoration: none;
  color: $black;
}

.shopping-list,
.search-field__input,
.search-field__button,
.about-delivery {
  display: none;
}

.main-nav__item {
  padding: 0;
  margin: 0;
}

.link-lists__item,
.interactive-list__item {
  padding-top: 28.5px;
  padding-bottom: 26.5px;
  padding-left: 76px;
  border-bottom: 1px $shadowgrey solid;
}

.page-header__logo {
  margin-left: auto;
  margin-right: auto;
}

.search-field {
  font-size: 17px;
}

.search-field__item {
  padding: 0;
  margin: 0;
}

// Header end

// Footer start

.page-footer {
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  background-color: $lightgrey;
}

// Footer end

// main-menu start

.main-menu {
  font-weight: bold;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: 50% -37%;
  background-repeat: no-repeat;
}

.main-menu__description {
  padding: 0;
  margin: 0;
  padding-top: 75px;
  padding-bottom: 115px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.main-list {
  padding: 0;
}

.main-list__item {
  padding-top: 24px;
  padding-bottom: 31px;
  padding-left: 30px;
  padding-right: 160px;

  &_shopping-card_interior {
    background-color: $lightgreen;
  }

  &_shopping-card_toys {
    background-color: $darkgreen
  }
}

.main-list__link {
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  color: $white;
}

// main-menu end

// best-product start

.best-product {
  padding-top: 30px;
  padding-bottom: 35px;
  line-height: 24px;
  color: $darkgrey;
}

.best-product__sign {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $lightgreen;
}

.best-product__description {
  margin: 0;
  margin-top: 18px;
  margin-bottom: 18px;
}

.features-table {
  line-height: 20px;
  margin-bottom: 29px;
}

.features-table__value {
  border-bottom: 1px $shadowgrey solid;
}

.features-table__parameter {
  padding-top: 12px;
  padding-bottom: 15px;
  padding-right: 25px;
  font-weight: normal;
  text-align: left;
  border-bottom: 1px $shadowgrey solid;
}

.best-product__image {
  margin-bottom: 25px;
}

.best-product__booking {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

.best-product__price {
  display: block;
  margin-bottom: 24.5px;
}

// best-product end

//main-advantages start

.main-advantages {
  margin-bottom: 58px;
}

.main-advantages__list {
  padding: 0;
  margin: 0;
  margin-top: 28px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}

.main-advantages__item {
  padding-top: 55px;
}

// feedback start

.feedback {
  margin-bottom: 90px;
}

.feedback-quote,
.feedback-quote__content,
.feedback-quote__author {
  padding: 0;
  margin: 0;
}

.feedback-quote__content {
  margin-top: 14px;
  margin-bottom: 33px;
  line-height: 30px;
}

.feedback-quote__author-wrapper {
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 30px;
}

.feedback-quote__author {
  font-weight: bold;
}

.feedback__button {
  background-color: $white;
}

// feedback end

// contacts start

.email-wrapper__email {
  text-decoration: none;
  color: $darkgrey;
}

.address-wrapper__address {
  font-style: normal;
}

// contacts end