// Colors

$white: #ffffff;
$grey--lightest: #f9f9f9;
$grey--lighten: #f1f1f1;
$grey--light: #ececec;
$grey: #e5e5e5;
$grey-darker: rgba(0, 0, 0, 0.1);
$grey--dark: #444444;
$black: #000000;
$green--lightest: #59d5bc;
$green--light: #62d1ba;
$green: #63d1bb;
$green--dark: #56c3b2;
$green--darkest: #46c1ae;

// Colors: specification

$font-base-color: $grey--dark;
$border-base-color: $grey--light;
$background-special-color: $grey--lighten;

// Fonts

$font-family-base: "Open Sans", "Arial", sans-serif;

// Viewports

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;

// Width

$mobile-block: 300px;
$tablet-block: 668px;
$desktop-block: 1050px;

// Borders

$border-base-style: 1px $border-base-color solid;
$border-bold-style: 2px $grey--dark solid;

// Margins

$form-special-margin: 35px;
