// Colors

$white: #ffffff;
$grey--lightest: #f1f1f1;
$grey--light: #ececec;
$grey--dark: #444444;
$black: #000000;
$green--lightest: #59d5bc;
$green--light: #62d1ba;
$green: #63d1bb;
$green--dark: #56c3b2;
$green--darkest : #46c1ae;

// Colors: specification

$font-base-color: $grey--dark;
$border-base-color: $grey--light;
$background-special-color: $grey--lightest;

// Fonts

$font-family-base: "Open Sans", "Arial", sans-serif;

// Border

$border-base-style: 1px $border-base-color solid;
$border-bold-style: 2px $grey--dark solid;
